# Let NetworkManager manage all devices on this system
network:
  version: 2
  renderer: NetworkManager
  ethernets:

{% if built_in_interfaces == "1" %}
{% if builtin_setup == "dhcp" %}
#    {{ built_in_interface }}: # Builtin adapter
#      dhcp4: no
#      addresses: [{{ ip_address }}/24]
    {{ built_in_interface }}: # Builtin adapter
      dhcp4: yes
      nameservers:
        search: [cresis.ku.edu, home.ku.edu]
{% else %}
    {{ built_in_interface }}: # Builtin adapter
      dhcp4: no
      addresses: [{{ ip_address }}/24]
#    {{ built_in_interface }}: # Builtin adapter
#      dhcp4: yes
#      nameservers:
#        search: [cresis.ku.edu, home.ku.edu]
{% endif %}
{% else %}
    {{ built_in_interface }}: # Builtin adapter
      dhcp4: no
      addresses: [{{ ip_address }}/24]
    {{ built_in_interface2 }}: # Builtin adapter
      dhcp4: yes
      nameservers:
        search: [cresis.ku.edu, home.ku.edu]
{% endif %}

{% if adapter_setup == "dhcp" %}
    enx00249b0b04d8: # Lab adapter
      dhcp4: yes
      nameservers:
        search: [cresis.ku.edu, home.ku.edu]
    enxe8ea6a402909: # Lab adapter
      dhcp4: yes
      nameservers:
        search: [cresis.ku.edu, home.ku.edu]
    enxe8ea6a402870: # Lab adapter
      dhcp4: yes
      nameservers:
        search: [cresis.ku.edu, home.ku.edu]
    enx803f5d08d2e1: # Lab adapter
      dhcp4: yes
      nameservers:
        search: [cresis.ku.edu, home.ku.edu]
    enx8cae4ce93de4: # Lab adapter
      dhcp4: yes
      nameservers:
        search: [cresis.ku.edu, home.ku.edu]
    enxe8ea6a402832: # Lab adapter
      dhcp4: yes
      nameservers:
        search: [cresis.ku.edu, home.ku.edu]
    enx00249b30960d: # Lab adapter
      dhcp4: yes
      nameservers:
        search: [cresis.ku.edu, home.ku.edu]
    enx9cebe842e240: # Paden USB-C adapter
      dhcp4: yes
      nameservers:
        search: [cresis.ku.edu, home.ku.edu]
#    enx00249b0b04d8: # Lab adapter
#      dhcp4: no
#      addresses: [{{ ip_address }}/24]
#    enxe8ea6a402909: # Lab adapter
#      dhcp4: no
#      addresses: [{{ ip_address }}/24]
#    enxe8ea6a402870: # Lab adapter
#      dhcp4: no
#      addresses: [{{ ip_address }}/24]
#    enx803f5d08d2e1: # Lab adapter
#      dhcp4: no
#      addresses: [{{ ip_address }}/24]
#    enx8cae4ce93de4: # Lab adapter
#      dhcp4: no
#      addresses: [{{ ip_address }}/24]
#    enxe8ea6a402832: # Lab adapter
#      dhcp4: no
#      addresses: [{{ ip_address }}/24]
#    enx00249b30960d: # Lab adapter
#      dhcp4: no
#      addresses: [{{ ip_address }}/24]      
#    enx9cebe842e240: # Paden USB-C adapter
#      dhcp4: no
#      addresses: [{{ ip_address }}/24]      
{% else %}
#    enx00249b0b04d8: # Lab adapter
#      dhcp4: yes
#      nameservers:
#        search: [cresis.ku.edu, home.ku.edu]
#    enxe8ea6a402909: # Lab adapter
#      dhcp4: yes
#      nameservers:
#        search: [cresis.ku.edu, home.ku.edu]
#    enxe8ea6a402870: # Lab adapter
#      dhcp4: yes
#      nameservers:
#        search: [cresis.ku.edu, home.ku.edu]
#    enx803f5d08d2e1: # Lab adapter
#      dhcp4: yes
#      nameservers:
#        search: [cresis.ku.edu, home.ku.edu]
#    enx8cae4ce93de4: # Lab adapter
#      dhcp4: yes
#      nameservers:
#        search: [cresis.ku.edu, home.ku.edu]
#    enxe8ea6a402832: # Lab adapter
#      dhcp4: yes
#      nameservers:
#        search: [cresis.ku.edu, home.ku.edu]
#    enx00249b30960d: # Lab adapter
#      dhcp4: yes
#      nameservers:
#        search: [cresis.ku.edu, home.ku.edu]
#    enx9cebe842e240: # Paden USB-C adapter
#      dhcp4: yes
#      nameservers:
#        search: [cresis.ku.edu, home.ku.edu]
    enx00249b0b04d8: # Lab adapter
      dhcp4: no
      addresses: [{{ ip_address }}/24]
    enxe8ea6a402909: # Lab adapter
      dhcp4: no
      addresses: [{{ ip_address }}/24]
    enxe8ea6a402870: # Lab adapter
      dhcp4: no
      addresses: [{{ ip_address }}/24]
    enx803f5d08d2e1: # Lab adapter
      dhcp4: no
      addresses: [{{ ip_address }}/24]
    enx8cae4ce93de4: # Lab adapter
      dhcp4: no
      addresses: [{{ ip_address }}/24]
    enxe8ea6a402832: # Lab adapter
      dhcp4: no
      addresses: [{{ ip_address }}/24]
    enx00249b30960d: # Lab adapter
      dhcp4: no
      addresses: [{{ ip_address }}/24]      
    enx9cebe842e240: # Paden USB-C adapter
      dhcp4: no
      addresses: [{{ ip_address }}/24]
{% endif %}

{% if wifi_setup == "accesspoint" %}
  wifis:
    {{ wifi_interface }}: # Setup wifi as access-point
      access-points:
        "{{ inventory_hostname_short }}":
          password: "m,./m,./"
          mode: ap
#    {{ wifi_interface }}: # Setup wifi to connect to internet
#      dhcp4: yes
#      nameservers:
#        search: [cresis.ku.edu, home.ku.edu]
#      access-points:
#        "KUGUEST":
{% elif wifi_setup == "dhcp" %}
  wifis:
#    {{ wifi_interface }}: # Setup wifi as access-point
#      access-points:
#        "{{ inventory_hostname_short }}":
#          password: "m,./m,./"
#          mode: ap
    {{ wifi_interface }}: # Setup wifi to connect to internet
      dhcp4: yes
      nameservers:
        search: [cresis.ku.edu, home.ku.edu]
      access-points:
        "KUGUEST":
          password: ""
{% endif %}
