{% set ip_address = "172.16.0.120" %}
{% set built_in_interfaces = "2" %} # "1" or "2"
{% set built_in_interface = "enp1s0" %}
{% set built_in_interface2 = "enp2s0f0" %}
{% set wifi_interface = "wlp3s0" %}
{% set builtin_setup = "dhcp" %} # "dhcp" or "static"
{% set adapter_setup = "dhcp" %} # "dhcp" or "static"
{% set wifi_setup = "dhcp" %} # "dhcp" or "accesspoint"
{% include 'netplan.jinja' %}
