{% set ip_address = "172.16.0.111" %}
{% set built_in_interfaces = "1" %} # "1" or "2"
{% set built_in_interface = "eno1" %}
{% set built_in_interface2 = "" %}
{% set wifi_interface = "wlp3s0b1" %}
{% set builtin_setup = "dhcp" %} # "dhcp" or "static"
{% set adapter_setup = "dhcp" %} # "dhcp" or "static"
{% set wifi_setup = "dhcp" %} # "dhcp" or "accesspoint"
{% include 'netplan.jinja' %}
