{% set ip_address = "172.16.0.147" %}
{% set built_in_interfaces = "1" %} {# "1" or "2" #}
{% set built_in_interface = "enp49s0" %}
{% set built_in_interface2 = "" %}
{% set wifi_interface = "wlp0s20f3" %}
{% set builtin_setup = "dhcp" %} {# "dhcp" or "static" #}
{% set adapter_setup = "static" %} {# "dhcp" or "static" #}
{% set wifi_setup = "dhcp" %} {# "none", "dhcp", or "accesspoint" #}
{% include 'netplan.jinja' %}
