{% include 'outputs/bashrc_' + inventory_hostname  %}


# ================================================================
# Recommended lines for everywhere:
umask 002 # Ensures that files generated will have the correct user/group permissions so that all users in our group can work with the files.

# Disables XON/XOFF so that ctrl-s can be used for forward-search
# (so that ctrl-r and ctrl-s can be used to step forward and backward
# through bash history).
stty -ixon

alias cp="cp -i"
alias rm="rm -i"
alias mv="mv -i"
alias ssh="ssh -Y"
alias opr="cd /scratch/scripts/opr/"
alias run_opr="cd /scratch/scripts/run_opr/"
alias pdf="evince"

if test -d /opt/MATLAB/R2022b/bin/; then
  export PATH=/opt/MATLAB/R2022b/bin/:$PATH
fi

# UNCOMMENT ONE LINE:
#export ARENA_SETTINGS="/arena/arena/scripts/arena_bash_settings_ghost1_2022_Antarctica_Ground.sh"
#export ARENA_SETTINGS="/arena/arena/scripts/arena_bash_settings_ghost2_2022_Antarctica_Ground.sh"
#export ARENA_SETTINGS="/arena/arena/scripts/arena_bash_settings_eager1_2022_Antarctica_Ground.sh"
export ARENA_SETTINGS="/arena/arena/scripts/arena_bash_settings_eager2_2022_Antarctica_Ground.sh"

export PATH=$PATH:/arena/arena/scripts/

#bashrc_arena.sh

#synclient MaxTapTime=0
