# /etc/fstab: static file system information.
#
# Use 'blkid' to print the universally unique identifier for a
# device; this may be used with UUID= as a more robust way to name devices
# that works even if disks are added and removed. See fstab(5).
#
# <file system> <mount point>   <type>  <options>       <dump>  <pass>
# / was on {{ partition_root_device }} during installation
UUID={{ partition_root_uuid }} /               ext4    errors=remount-ro 0       1
# /boot/efi was on {{ partition_boot_device }} during installation
UUID={{ partition_boot_uuid }}  /boot/efi       vfat    umask=0077      0       1
/swapfile                                 none            swap    sw              0       0

# Scratch mounts
# =================================================================

# Data mounts
# =================================================================

# Data 0.5TB

# Data 1TB
/dev/disk/by-uuid/814cd9fd-82a3-4b7f-9cfa-e5c47bb91acc /mnt/data21 ext4 defaults,exec,user,auto,noatime,data=writeback,nobh,nofail,errors=remount-ro 0 1
/dev/disk/by-uuid/fb7d9a90-ffa6-4e93-8a0e-ea52ffd2b757 /mnt/data22 ext4 defaults,exec,user,auto,noatime,data=writeback,nobh,nofail,errors=remount-ro 0 1
/dev/disk/by-uuid/b809f2dd-59f6-4d3b-9241-2d9f74fab9c4 /mnt/data23 ext4 defaults,exec,user,auto,noatime,data=writeback,nobh,nofail,errors=remount-ro 0 1

# Data 2TB
/dev/disk/by-uuid/a45a37b1-e12c-416d-851f-0a34f304b1a2 /mnt/data24 ext4 defaults,exec,user,auto,noatime,data=writeback,nobh,nofail,errors=remount-ro 0 1
/dev/disk/by-uuid/a20e8185-f6c1-4249-9d2e-5a4b71f9fb55 /mnt/data25 ext4 defaults,exec,user,auto,noatime,data=writeback,nobh,nofail,errors=remount-ro 0 1
/dev/disk/by-uuid/2e567f29-a3c3-4fec-8c46-6972d9d010f9 /mnt/data26 ext4 defaults,exec,user,auto,noatime,data=writeback,nobh,nofail,errors=remount-ro 0 1

# Data 4TB
/dev/disk/by-uuid/e0379c16-3bf4-411b-aa21-a4e0ab3bf67e /mnt/data1 ext4 defaults,exec,user,auto,noatime,data=writeback,nobh,nofail,errors=remount-ro 0 1
/dev/disk/by-uuid/618895ab-4b70-49a8-ac5e-23ee963486b9 /mnt/data2 ext4 defaults,exec,user,auto,noatime,data=writeback,nobh,nofail,errors=remount-ro 0 1
/dev/disk/by-uuid/97489055-c76d-4445-9011-a2d0aa999d62 /mnt/data3 ext4 defaults,exec,user,auto,noatime,data=writeback,nobh,nofail,errors=remount-ro 0 1
/dev/disk/by-uuid/e5d9718f-2aaf-4fcf-8c05-e814276aac20 /mnt/data4 ext4 defaults,exec,user,auto,noatime,data=writeback,nobh,nofail,errors=remount-ro 0 1
/dev/disk/by-uuid/d72dc03d-69ad-4636-8a75-320624799d01 /mnt/data5 ext4 defaults,exec,user,auto,noatime,data=writeback,nobh,nofail,errors=remount-ro 0 1
/dev/disk/by-uuid/08d4ef89-48f7-48eb-a56b-cb59c473781f /mnt/data6 ext4 defaults,exec,user,auto,noatime,data=writeback,nobh,nofail,errors=remount-ro 0 1
/dev/disk/by-uuid/836b1d05-2000-421a-a08c-e305e7f6f775 /mnt/data7 ext4 defaults,exec,user,auto,noatime,data=writeback,nobh,nofail,errors=remount-ro 0 1
/dev/disk/by-uuid/b4138260-778b-445d-a9ce-dd4167fa362e /mnt/data8 ext4 defaults,exec,user,auto,noatime,data=writeback,nobh,nofail,errors=remount-ro 0 1
/dev/disk/by-uuid/adc4431d-e555-4b44-999c-a049b246b57f /mnt/data9 ext4 defaults,exec,user,auto,noatime,data=writeback,nobh,nofail,errors=remount-ro 0 1
/dev/disk/by-uuid/f3aeb057-1be8-4d13-8d4e-6b90e6ef723f /mnt/data10 ext4 defaults,exec,user,auto,noatime,data=writeback,nobh,nofail,errors=remount-ro 0 1
/dev/disk/by-uuid/ebab887b-6939-439a-b269-ac6a391b8e0f /mnt/data11 ext4 defaults,exec,user,auto,noatime,data=writeback,nobh,nofail,errors=remount-ro 0 1
/dev/disk/by-uuid/71f970fe-cd1d-4977-a85a-74b74a2b9a7d /mnt/data12 ext4 defaults,exec,user,auto,noatime,data=writeback,nobh,nofail,errors=remount-ro 0 1
/dev/disk/by-uuid/e427202d-2f02-484d-bb69-46a414aa5db3 /mnt/data13 ext4 defaults,exec,user,auto,noatime,data=writeback,nobh,nofail,errors=remount-ro 0 1
/dev/disk/by-uuid/2690ea2b-84ac-40ba-ad7c-4001d333dbc2 /mnt/data14 ext4 defaults,exec,user,auto,noatime,data=writeback,nobh,nofail,errors=remount-ro 0 1
/dev/disk/by-uuid/7b984525-0283-4db7-a757-171fa29c4402 /mnt/data15 ext4 defaults,exec,user,auto,noatime,data=writeback,nobh,nofail,errors=remount-ro 0 1
/dev/disk/by-uuid/f27b52c0-b1ed-48c2-8bbd-9c138c22279e /mnt/data16 ext4 defaults,exec,user,auto,noatime,data=writeback,nobh,nofail,errors=remount-ro 0 1
/dev/disk/by-uuid/0e4dde32-c2c6-47d2-ac68-c640d5e520d2 /mnt/data17 ext4 defaults,exec,user,auto,noatime,data=writeback,nobh,nofail,errors=remount-ro 0 1
/dev/disk/by-uuid/607a0a43-da63-4386-b22d-f40dcb4d4afd /mnt/data18 ext4 defaults,exec,user,auto,noatime,data=writeback,nobh,nofail,errors=remount-ro 0 1
/dev/disk/by-uuid/9e93db54-141f-432c-924d-892702d62329 /mnt/data19 ext4 defaults,exec,user,auto,noatime,data=writeback,nobh,nofail,errors=remount-ro 0 1
/dev/disk/by-uuid/23f5fa2b-5bf6-4e65-b682-03a87574b0f7 /mnt/data20 ext4 defaults,exec,user,auto,noatime,data=writeback,nobh,nofail,errors=remount-ro 0 1


# Data RAID
/dev/disk/by-uuid/fd1f5977-a8d3-42ae-9a05-e42bb155ccfc /mnt/raid_hddwhite ext4 defaults,exec,user,auto,nofail,errors=remount-ro 0 1 # COLDEX 126TB
/dev/disk/by-uuid/753e0d44-1b78-420f-8f1d-882036b6a24b /mnt/raid_hddgold ext4 defaults,exec,user,auto,nofail,errors=remount-ro 0 1 # COLDEX 126TB
/dev/disk/by-uuid/873cd166-2a09-40b5-879a-00a9d898a2a3 /mnt/raid_hddblue ext4 defaults,exec,user,auto,nofail,errors=remount-ro 0 1 # COLDEX 126TB
/dev/disk/by-uuid/9f7cef3b-a2c2-44f3-a4d9-39fcfb2ed795 /mnt/raid_hddpink ext4 defaults,exec,user,auto,nofail,errors=remount-ro 0 1 # CRESIS 30TB
/dev/disk/by-uuid/d8a76260-d706-45a3-9af9-1c8de6b1cd34 /mnt/raid_hddred ext4 defaults,exec,user,auto,nofail,errors=remount-ro 0 1 # CRESIS 54TB
/dev/disk/by-uuid/741211ad-cc99-4be1-891c-e9f8c8a86a1a /mnt/raid_dataproducts ext4 defaults,exec,user,auto,nofail,errors=remount-ro 0 1 # CRESIS 216TB (yellow)
/dev/disk/by-uuid/2764a0c3-5203-4e89-9774-63e55587ba5a /mnt/raid_ssdblue ext4 defaults,exec,user,auto,nofail,errors=remount-ro 0 1 # CRESIS 18TB
/dev/disk/by-uuid/6399a78d-207b-4a82-bd57-df93d25c113e /mnt/raid_ssdyellow ext4 defaults,exec,user,auto,nofail,errors=remount-ro 0 1 # CRESIS 18TB
/dev/disk/by-uuid/d68ac9ba-13ef-404a-a0cf-a5879bca9785 /mnt/raid_ssdorange ext4 defaults,exec,user,auto,nofail,errors=remount-ro 0 1 # CRESIS 11TB (unreliable Micron)

# Laptop Data
# =================================================================

# aq-field10 data disk
/dev/disk/by-uuid/d660c03e-59f2-4852-89a9-ab6755b08291 /mnt/data_field10 ext4 defaults,exec,user,auto,nofail,errors=remount-ro 0 1
# aq-field11 data disk
/dev/disk/by-uuid/78ce82fd-bbda-4a32-ae81-32ca8e9075f2 /mnt/data_field11 ext4 defaults,exec,user,auto,nofail,errors=remount-ro 0 1
# aq-field12 data disk
/dev/disk/by-uuid/36afbb87-afb7-4841-bf8c-0b3016d285b5 /mnt/data_field12 ext4 defaults,exec,user,auto,nofail,errors=remount-ro 0 1
# aq-field13 data disk
/dev/disk/by-uuid/89b48a82-e459-43e9-941a-47966eeed20a /mnt/data_field13 ext4 defaults,exec,user,auto,nofail,errors=remount-ro 0 1
# aq-field27 data disk
/dev/disk/by-uuid/3473c7d5-dd10-41a5-85eb-cdc672239c00 /mnt/data_field27 ext4 defaults,exec,user,auto,nofail,errors=remount-ro 0 1

# Archive Mounts
# =================================================================

/dev/disk/by-uuid/8d6eca5d-e75d-4b1c-aeec-c9908f2dbea7 /mnt/archive1 ext4 defaults,user,auto,nofail,errors=remount-ro 0 1 # Rosewill WD 8TB
/dev/disk/by-uuid/226fe7ec-3907-4002-96b8-67fb0bb901cc /mnt/archive2 ext4 defaults,user,auto,nofail,errors=remount-ro 0 1 # Rosewill WD 8TB
/dev/disk/by-uuid/C357-B25B /mnt/archive7 exfat defaults,user,auto,nofail,errors=remount-ro 0 1 # Western Digital Easystore 8TB
/dev/disk/by-uuid/CB66-C13F /mnt/archive8 exfat defaults,user,auto,nofail,errors=remount-ro 0 1 # Western Digital Easystore 8TB
/dev/disk/by-uuid/6AE9-EF5B /mnt/archive9 exfat defaults,user,auto,nofail,errors=remount-ro 0 1 # Western Digital Easystore 8TB
/dev/disk/by-uuid/C23F-311B /mnt/archive10 exfat defaults,user,auto,nofail,errors=remount-ro 0 1 # Western Digital Easystore 8TB
/dev/disk/by-uuid/4318-2C23 /mnt/archive11 exfat defaults,user,auto,nofail,errors=remount-ro 0 1 # Western Digital Easystore 8TB
/dev/disk/by-uuid/9BA4-F9EC /mnt/archive12 exfat defaults,user,auto,nofail,errors=remount-ro 0 1 # Western Digital Easystore 8TB
/dev/disk/by-uuid/76A2-0541 /mnt/archive13 exfat defaults,user,auto,nofail,errors=remount-ro 0 1 # Western Digital Easystore 8TB
/dev/disk/by-uuid/8F99-335F /mnt/archive14 exfat defaults,user,auto,nofail,errors=remount-ro 0 1 # Western Digital Easystore 8TB
/dev/disk/by-uuid/682C72F92C72C19C /mnt/archive15 ntfs defaults,user,auto,nofail,errors=remount-ro 0 1 # Western Digital Easystore 8TB
/dev/disk/by-uuid/BCE06C08E06BC76C /mnt/archive16 ntfs defaults,user,auto,nofail,errors=remount-ro 0 1 # Western Digital Easystore 8TB
/dev/disk/by-uuid/98FA32F9FA32D2EC /mnt/archive17 ntfs defaults,user,auto,nofail,errors=remount-ro 0 1 # Western Digital Easystore 8TB
/dev/disk/by-uuid/38F04494F04459F0 /mnt/archive18 ntfs defaults,user,auto,nofail,errors=remount-ro 0 1 # Western Digital Easystore 8TB
/dev/disk/by-uuid/7ABB-96D8 /mnt/archive19 exfat defaults,user,auto,nofail,errors=remount-ro 0 1 # Seagate 8TB
/dev/disk/by-uuid/7A42-E253 /mnt/archive20 exfat defaults,user,auto,nofail,errors=remount-ro 0 1 # Seagate 8TB
/dev/disk/by-uuid/0C20-FA79 /mnt/archive24 exfat defaults,user,auto,nofail,errors=remount-ro 0 1
/dev/disk/by-uuid/1058-88AB /mnt/archive25 exfat defaults,user,auto,nofail,errors=remount-ro 0 1
/dev/disk/by-uuid/33B7-6775 /mnt/archive26 exfat defaults,user,auto,nofail,errors=remount-ro 0 1
/dev/disk/by-uuid/3BB3-F6B9 /mnt/archive27 exfat defaults,user,auto,nofail,errors=remount-ro 0 1


# NFS Mounts As Client
# Only enable servers that are serving data to this node
# =================================================================

#aq-field15:/raid_hddwhite      /mnt/nfs_raid_hddwhite      nfs    _netdev,auto,nofail  0  0
#aq-field15:/raid_hddgold       /mnt/nfs_raid_hddgold       nfs    _netdev,auto,nofail  0  0
#aq-field15:/raid_hddblue       /mnt/nfs_raid_hddblue       nfs    _netdev,auto,nofail  0  0
#aq-field15:/raid_hddpink       /mnt/nfs_raid_hddpink       nfs    _netdev,auto,nofail  0  0
#aq-field15:/raid_hddred        /mnt/nfs_raid_hddred        nfs    _netdev,auto,nofail  0  0
#aq-field15:/raid_dataproducts  /mnt/nfs/raid_dataproducts  nfs    _netdev,auto,nofail  0  0
#aq-field15:/raid_ssdblue       /mnt/nfs_raid_ssdblue       nfs    _netdev,auto,nofail  0  0
#aq-field15:/raid_ssdyellow     /mnt/nfs_raid_ssdyellow     nfs    _netdev,auto,nofail  0  0
#aq-field15:/raid_ssdorange     /mnt/nfs_raid_ssdorange     nfs    _netdev,auto,nofail  0  0

# NFS SERVER Mounts
# Only enable exports that are available on this node.
# Only one node should export the home directory.
# =================================================================

#/mnt/raid_hddwhite       /export/raid_hddwhite       none bind,nofail 0 0
#/mnt/raid_hddgold        /export/raid_hddgold        none bind,nofail 0 0
#/mnt/raid_hddblue        /export/raid_hddblue        none bind,nofail 0 0
#/mnt/raid_hddpink        /export/raid_hddpink        none bind,nofail 0 0
#/mnt/raid_hddred         /export/raid_hddred         none bind,nofail 0 0
#/mnt/raid_dataproducts   /export/raid_dataproducts   none bind,nofail 0 0
#/mnt/raid_ssdblue        /export/raid_ssdblue        none bind,nofail 0 0
#/mnt/raid_ssdyellow      /export/raid_ssdyellow      none bind,nofail 0 0
#/mnt/raid_ssdorange      /export/raid_ssdorange      none bind,nofail 0 0

# NFS Mounts As Client (CReSIS only)
# =================================================================

kucresis.home.ku.edu:/scratch /kucresis/scratch nfs defaults,nofail,_netdev,vers=3,sec=sys,proto=tcp,hard,intr,timeo=600,retrans=2,wsize=524288,rsize=524288 0 0
resfs.home.ku.edu:/resfs/GROUPS /resfs/GROUPS nfs defaults,nofail,_netdev,vers=3,sec=sys,proto=tcp,hard,intr,timeo=600,retrans=2,wsize=524288,rsize=524288 0 0
samba.cresis.ku.edu:/cresis/snfs1/ /cresis/snfs1/           nfs     defaults,nofail,_netdev,vers=3,proto=tcp,hard,intr,timeo=600,retrans=2,wsize=524288,rsize=524288 0 0
