127.0.0.1	localhost
127.0.1.1	{{ ansible_facts.hostname }}

# The following lines are desirable for IPv6 capable hosts
::1     ip6-localhost ip6-loopback
fe00::0 ip6-localnet
ff00::0 ip6-mcastprefix
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters

# Ground servers/laptops in Office
# 129.237.165.52 aq-field03
# 129.237.165.54 aq-field04
# 129.237.165.40 aq-field05
# 129.237.165.22 aq-field07
# 129.237.165.23 aq-field08
# 129.237.165.24 aq-field09
# 129.237.165.25 aq-field10
# 129.237.165.26 aq-field11
# 129.237.165.27 aq-field12
# 129.237.165.28 aq-field13
# 129.237.165.50 aq-field14
# 129.237.165.60 aq-field15
# 129.237.165.88 aq-field16
# 129.237.165.29 aq-field17
# 129.237.165.30 aq-field18
# 129.237.165.32 aq-field19
# 129.237.165.33 aq-field20
# 129.237.165.34 aq-field21
# 129.237.165.36 aq-field22
# 129.237.165.37 aq-field23
# 129.237.165.38 aq-field24
# 129.237.165.39 aq-field25
# 129.237.165.61 aq-field26
# 129.237.165.41 aq-field27
# 129.237.165.42 aq-field28
# 129.237.165.43 aq-field29
# 129.237.165.63 aq-field30
# 129.237.165.64 aq-field31
# 129.237.165.66 aq-field32
# 129.237.165.67 aq-field33
# 129.237.165.69 aq-field34
# 129.237.165.70 aq-field35
# 129.237.165.71 aq-field36
# 129.237.165.72 aq-field37
# 129.237.165.81 aq-field38
# 129.237.165.93 aq-field39
# 129.237.165.94 aq-field40
# 129.237.165.99 aq-field44
# 129.237.165.106 aq-field47
# 129.237.165.107 aq-field48
# 129.237.165.109 aq-field49

# Gateway 172.16.0.1

# Arena CTU/103/313 modules (.002-.099)
# 172.16.0.77       arenabasuav
# 172.16.0.81       arenacoldex3
# 172.16.0.82       arenacoldex1
# 172.16.0.83       arenacoldex2

# Ground servers/laptops (.100-.180)
# 172.16.0.103      aq-field03 # Latitude E5420
# 172.16.0.104      aq-field04 # Dell Precision M4600
# 172.16.0.105      aq-field05 # Latitude E6510
# 172.16.0.107      aq-field07 # Dell Precision M6600
# 172.16.0.108      aq-field08 # Dell Precision 5510 laptop (formerly Carl's laptop)
# 172.16.0.109      aq-field09 # Dell Precision 5510 laptop (formerly Paden's laptop)
# 172.16.0.110      aq-field10 # Dell Precision M4700 laptop (MELT)
# 172.16.0.111      aq-field11 # Dell Precision M4700 laptop (MELT)
# 172.16.0.112      aq-field12 # Dell Precision M4800 laptop (Hercules Dome)
# 172.16.0.113      aq-field13 # Dell Precision M4800 laptop (Hercules Dome)
# 172.16.0.114      aq-field14 # formerly fp1 2U server
# 172.16.0.115      aq-field15 # formerly aq-aq-field12 2U server
# 172.16.0.116      aq-field16 # formerly aq-aq-field13 2U server
# 172.16.0.117      aq-field17 # Honeywell onlogic 1 eno1 right 1G
172.16.0.118      aq-field18 # EAGER-1 onlogic 2 enp1s0 right 2.5G
172.16.0.118      eager1 # EAGER-1 onlogic 2 enp1s0 right 2.5G
172.16.0.119      aq-field19 # EAGER-2 onlogic 3 enp1s0 right 2.5G
172.16.0.119      eager2 # EAGER-2 onlogic 3 enp1s0 right 2.5G
# 172.16.0.120      aq-field20 # GHOST-2 onlogic 4 enp1s0 right 2.5G
# 172.16.0.120      ghost2 # GHOST-2 onlogic 4 enp1s0 right 2.5G
# 172.16.0.121      aq-field21 # GHOST-1 onlogic 5 enp1s0 right 2.5G
# 172.16.0.121      ghost1 # GHOST-1 onlogic 5 enp1s0 right 2.5G
# 172.16.0.122      aq-field22 # COLDEX-1 onlogic 6 enp1s0 right 2.5G
# 172.16.0.122      coldex1 # COLDEX-1 onlogic 6 enp1s0 right 2.5G
# 172.16.0.123      aq-field23 # COLDEX-2 onlogic 7 enp1s0 right 2.5G
# 172.16.0.123      coldex2 # COLDEX-2 onlogic 7 enp1s0 right 2.5G
# 172.16.0.124      aq-field24 # COLDEX-3 onlogic 8 enp1s0 right 2.5G
# 172.16.0.124      coldex3 # COLDEX-3 onlogic 8 enp1s0 right 2.5G
# 172.16.0.125      aq-field25 # COLDEX onlogic 9 enp1s0 right 2.5G (not purchased yet)
# 172.16.0.126      aq-field26 # formerly fp2 2U server
172.16.0.127      aq-field27 # Lenovo Legions 5i (COLDEX John)
# 172.16.0.128      aq-field28 # Lenovo Legions 5i (COLDEX Shravan)
# 172.16.0.129      aq-field29 # Carl's new Overhead/Heising-Simons laptop
# 172.16.0.130      aq-field30 # Cluster Node
# 172.16.0.131      aq-field31 # Cluster Node
# 172.16.0.132      aq-field32 # Cluster Node
# 172.16.0.133      aq-field33 # Cluster Node
# 172.16.0.134      aq-field34 # Cluster Node
# 172.16.0.135      aq-field35 # Cluster Node
# 172.16.0.136      aq-field36 # Cluster Node
# 172.16.0.137      aq-field37 # Cluster Node
# 172.16.0.138      aq-field38 # Carl's Xilinx
# 172.16.0.139      aq-field39 # Lab Spare Windows 11
# 172.16.0.140      aq-field40 # BAS UAV laptop
# 172.16.0.141      aq-field41 # COLDEX Navigation iPad 1
# 172.16.0.142      aq-field42 # COLDEX Navigation iPad 2
# 172.16.0.143      aq-field43 # COLDEX Navigation iPad 3
# 172.16.0.144      aq-field44 # BAS UAV accumulation radar raspberry pi
# 172.16.0.145      aq-field45 # Knut Christianson GETAC Laptop
# 172.16.0.146      aq-field46 # Vanilla Snow Radar
# 172.16.0.146      snow1 # Vanilla Snow Radar
172.16.0.147      aq-field47 # Lenovo Legion 5i Pro-16IAH7
# 172.16.0.148      aq-field48 # Lenovo X1 Carbon 6th Gen Laptop
172.16.0.149      aq-field49 # Lenovo Legion 5i Pro-16IAH7
172.16.0.150      aq-field50 # Lenovo Legion 5i Pro-16IAH7

# Other radar NI,keysight,etc. (.181-.199)
# 172.16.0.181      keysight
# 172.16.0.182      ipad1
# 172.16.0.183      ipad2
# 172.16.0.184      ipad3 # Sridhar lost
# 172.16.0.185      dso4104 # 1 GHz Tektronix 4-chan
# 172.16.0.186      dso4054 # 500 MHz Tektronix 4-chan

# Personal machines (.200-.253)
172.16.0.200      paden
# 172.16.0.201      fernando
# 172.16.0.202      gomez
# 172.16.0.203      leuschen
172.16.0.204      knut
172.16.0.205      andrew
172.16.0.206      lee
