[global]
   workgroup = WORKGROUP
   server string = %h server (Samba, Ubuntu)
   log file = /var/log/samba/log.%m
   max log size = 1000
   logging = file
   panic action = /usr/share/samba/panic-action %d
   server role = standalone server
   obey pam restrictions = yes
   unix password sync = yes
   passwd program = /usr/bin/passwd %u
   passwd chat = *Enter\snew\s*\spassword:* %n\n *Retype\snew\s*\spassword:* %n\n *password\supdated\ssuccessfully* .
   pam password change = yes
   map to guest = bad user
   usershare allow guests = yes
   allow insecure wide links = yes
# Access by "Map Network Drive", "//{{ ansible_facts.hostname }}.cresis.ku.edu/root/",
# user "cresis1", password set with (as root) "smbpasswd -a cresis1"
[root]
  comment = {{ ansible_facts.hostname }}
  path = /
  create mask = 0755
  force user = cresis1
  browsable = yes
  read only = no
  follow symlinks = yes
  wide links = yes
